# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# .angular
**/client/.angular

# dist
**/client/dist

# mvn
**/.mvn
**/mvnw
mvnw.cmd

# node
**/node
**/node_modules

# target folder
**/target
