<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col" style="min-width: 48px; width: 48px;" colspan="2"></th>
      <th scope="col" style="min-width: 100px; width: 100px;">User Id</th>
      <th scope="col" style="min-width: 150px; width: 50%;">Username</th>
      <th scope="col" style="min-width: 150px; width: 50%;">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td style="padding-top: 12px; padding-left: 4px; padding-right: 4px; min-width: 24px; width: 24px;">
        <i class="fa-solid fa-pencil" (click)="editUser(user);" placement="top" ngbTooltip="Edit"></i>
      </td>
      <td style="padding-top: 12px; padding-left: 4px; padding-right: 4px; min-width: 24px; width: 24px;">
        <i class="fa-solid fa-close" (click)="deleteUser(user.userId);" placement="bottom" ngbTooltip="Delete"
        data-original-title="Responsive Navigation Bar"></i>
      </td>
      <td style="min-width: 100px; width: 100px; text-align: right;">{{ user.userId }}</td>
      <td style="min-width: 150px; width: 50%">{{ user.username }}</td>
      <td style="min-width:150px; width: 50%; padding-left: 20px;">{{ user.role.role }}</td>
    </tr>
  </tbody>
</table>

<div>
  <button type="button" class="btn btn-info float-sm-end" (click)="addUser()"><i class="fa fa-plus"></i> Add</button>
</div>

<!-- confirm-dialog.component.html -->
<app-confirm-dialog [confirmText]="confirmText" (confirmEvent)="handleConfirmDeleteEvent($event)"></app-confirm-dialog>

<!-- user-dialog.component.html -->
<app-user-dialog [title]="dialogTitle" [roles]="roles" [user]="selectedUser" (saveEvent)="handleSaveEvent($event)"></app-user-dialog>